body {
  background-image: linear-gradient(to left, rgba(255,0,0,0),   #41bf61
  );
}


.btn-green, .btn-green:visited, .btn-green:hover, .btn-green:active, .btn-green:focus, .btn-green:active:hover {
  font-style: inherit;
  color: inherit;
  background-color: transparent;
  font-size: inherit;
  text-decoration: none;
  font-variant: inherit;
  font-weight: inherit;
  line-height: inherit;
  font-family: inherit;
  border-radius: inherit;
  border: inherit;
  outline: inherit;
  box-shadow: inherit;

}

.btn-green:hover {
  background-color: #218a3b;
  color: white;
}

.btn-primary:focus {
  outline: none !important;
  box-shadow: none !important;
  border-color: black !important;
}

.btn-primary {
  background-color: #218a3b !important;
  border: solid 1px #218a3b !important;
}

.dropdown-menu a {
  width: 100%;
 
}



